@mixin flex($direction: row, $align: center, $justify: center, $gap: 10px, $wrap: no-wrap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin grid($columns: 12, $gap: 5px) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}


// Dark colors
$light-gray: #F3F3F3;
$dark-gray: #B7B7B7;
$text-color: #6B6B6B;
$dark: #191919;
$black: #000;


// Light colors
$light: #eee;
$white: #fff;

